<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>home.hbs</h1>
    {{> header}}

    {{screamIt welcomeMessage}}

    {{> footer}}

  </body>
</html>
